extends layout

block content
    h1= title

    p.
        This app is a simple social network for OpenTable
        User can follow/unfollow another user/s
        User can follow/unfollow restaurant/s

    ul
        li
            a(href='/users') View all users
        li
            a(href='/restaurants') View all restaurants
